### Imports

In [2]:
import pandas as pd

### Load data

In [3]:
train_users = pd.read_csv("data/train_users.csv")
train_reviews = pd.read_csv("data/train_reviews.csv")
train_matches = pd.read_csv("data/train_matches.csv")

In [6]:
train_matches

,accommodation_id,review_id,user_id
0,842298552,9b7015a7-73a2-4ce0-94ff-309f27d1f5fb,495ef092-0399-4fcf-a6d1-7b4f52b7de04
1,1596437394,826320b2-f123-42f7-b5b9-6df66895f959,312f1bc9-fdd9-4f3c-ac9e-5821919eebf7
2,-1257837707,34b17750-7827-45f7-a797-42b92f427a8f,80f94a05-de92-49fb-b259-dd1c34bcf442
3,760669881,51153c31-19d4-4d93-807d-c0a55ff3eb91,3821d21d-d973-4b36-bc03-1b986c67759c
4,-1914121319,9741bdd6-91cf-4ed5-9f6b-761222eb5533,5e43d83e-8e68-4b33-a43b-794db3272e72
...,...,...,...
1628984,1171558513,82491a70-d8e5-43f6-a6c9-4fb1400ec963,92df1725-9350-4071-adf5-4b4ae55f3d20
1628985,1767217018,482b9268-2da0-4b1f-822c-c0c556f3114d,11f57e46-8912-4195-83af-a68f4d29ae47
1628986,-1214234323,7e09a722-1fd5-4640-bb68-cf3e4814f856,0c0deedf-2c7c-4219-962f-99bb1bee7f8f
1628987,-1000262988,d6e48081-6ec7-4545-a6c6-2040dcf73de8,944f1822-dae2-4a2d-b1ba-194e7639eb93
1628988,356642133,a318aea7-b65d-418b-816c-0a40025e800e,c05f1704-68c5-4a10-baf7-b9174f34dcfb