In [1]:
import pandas as pd

In [2]:
train_path = "train"
val_path = "val"
test_path = "test"
train_users = pd.read_csv(f"{train_path}/train_users.csv")
train_reviews = pd.read_csv(f"{train_path}/train_reviews.csv")
train_matches = pd.read_csv(f"{train_path}/train_matches.csv")

# frac_of_train_set = 1
# train_users = train_users.sample(frac=frac_of_train_set, random_state=42).reset_index(drop=True)
# train_reviews = train_reviews.sample(frac=frac_of_train_set, random_state=42).reset_index(drop=True)
# train_matches = train_matches.sample(frac=frac_of_train_set, random_state=42).reset_index(drop=True)
# print(f"Loaded {frac_of_train_set} of the training data")
# 
# val_users = pd.read_csv(f"{val_path}/val_users.csv")
# val_reviews = pd.read_csv(f"{val_path}/val_reviews.csv")
# val_matches = pd.read_csv(f"{val_path}/val_matches.csv")
# print("Loaded validation data")
# 
# test_users = pd.read_csv(f"{test_path}/test_users.csv")
# test_reviews = pd.read_csv(f"{test_path}/test_reviews.csv")
# print("Loaded test data")

test_reviews.

In [3]:
train_users

,user_id,accommodation_id,guest_type,guest_country,room_nights,month,accommodation_type,accommodation_country,accommodation_score,accommodation_star_rating,location_is_ski,location_is_beach,location_is_city_center
0,8e2ee00e-08bf-4229-aefb-74224a5adfa6,-1109473678,Family with children,Vey,2,2,Hotel,Turkey,8.3,5.0,0,0,0
1,776accc3-9f1b-4a2e-8616-aafcac7eeb1d,-1189343073,Solo traveller,Gobuf,2,3,Hotel,Italy,8.0,4.0,0,0,0
2,e32f90a1-1580-4a87-86a1-7602d5543a15,-1454980525,Couple,Qehoj,3,6,Hotel,Germany,8.5,4.0,0,0,1
3,9f246c70-def0-4b93-8c8a-296f5014f6fc,-773005129,Family with children,Mejok,1,8,Apartment,United Kingdom,9.3,0.0,0,0,0
4,2958080f-b80d-4bcb-84e9-2e053c314e38,462909752,Family with children,Zuc,6,6,Hotel,Australia,8.7,4.0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1628984,c71b8737-c03d-4182-8c00-4ffe22e3d56f,671144144,Couple,Yibege,3,7,Hotel,Indonesia,8.9,3.0,0,1,0
1628985,744143b2-755f-47cf-bb68-88c85757a88f,506303891,Couple,Mejok,1,8,Hotel,United Kingdom,8.1,3.0,0,0,0
1628986,e6ac4cca-e07b-474b-8dc9-31501feec9c5,2066287831,Couple,Mejok,3,3,Hotel,Sweden,8.6,4.0,0,0,1
1628987,5fda3acf-1d8f-454a-9abd-52042a519681,-194757066,Solo traveller,Zuc,2,4,Apartment,Montenegro,9.7,0.0,0,1,0
1628988,72b7efbb-7af2-47b5-bfce-ca1525bfa8f4,2063347565,Family with children,Jof,1,4,Motel,Canada,8.1,2.0,0,0,0

In [4]:
train_reviews

,review_id,accommodation_id,review_title,review_positive,review_negative,review_score,review_helpful_votes
0,bf762eec-0e44-42ff-a066-6be55a7d0849,489020669,"Nice &amp; friendly , Plenty of staff around.",Really nice staff. Good food.Fridge with fresh...,woken up 2.30 in the morning by very loud peop...,10.0,0
1,3f1a116f-38ed-4fe8-9086-fd71b0f994f9,1533822482,NaN,The staff was helpful and the room was comfort...,They only placed one wash cloth in the room fo...,9.0,0
2,2cfd21e7-4e2d-4a31-be9d-9e22c705d76d,222537300,NaN,&quot;Home Sweet Home&quot; is a delightful ho...,NaN,10.0,3
3,a240f502-0ee3-47e3-964b-786b56ed5083,644485349,NaN,We havent stayed in a b&amp;b for so many year...,NaN,9.0,0
4,5086e380-21d4-4d5c-be6f-f2d04a57e0ac,-192152850,NaN,Location bed and pillows where so nice,NaN,10.0,0
...,...,...,...,...,...,...,...
1628984,58b117be-d221-4db7-8d6a-29656cf15787,2013313501,NaN,Great location for walking uphill to Tryon Str...,Starbucks closes at 5pm and I thought they clo...,10.0,0
1628985,99c40951-637f-4faf-913c-773e45e54492,-617199527,NaN,The hotel is located in the city center near t...,NaN,10.0,0
1628986,c63fdfb0-2c67-4801-b1f8-bdff2e2ab611,1745110448,Great stay for a great price,Loved the view and the room (very spacious) H...,Nothing I can think of,7.0,0
1628987,65a309cf-17d8-4828-aa7a-7ab46bc6f15e,-1740040086,Great Historic Location,Character property with a spacious bedroom and...,NaN,9.0,0
1628988,6dd2daa1-a585-4060-9220-f8e8478bbced,1702020661,Great hotel in a lovely town.,I think the cleanest hotel room I’ve ever stay...,"Can’t think of anything about this trip, but I...",10.0,0